h3,
a,
p {
  color: #1f2124;
}
h4 {
  font-size: 1rem !important;
  line-height: 1rem;
}
.widget-list {
  li {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.widget {
  .card-header {
    background: #fff;
    a {
      width: 100%;
      display: block;
      &:after {
        content: "+";
        position: absolute;
        right: 40px;
        top: .9rem;
        transition: transform .15s ease-in-out;
      }
      &:hover,
      &:focus {
      text-decoration: none;
      }
      &[aria-expanded="true"] {
        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }
  .card-block {
    padding: 0 1.3rem;
    .widget-list {
      li {
        margin-bottom: 4px;
      }
    }
  }
}
